name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  actions: read

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          node-version: 20
          cache: npm
      
      - name: Install dependencies
        run: npm ci --legacy-peer-deps
      
      # Required for Playwright e2e tests
      - name: Install Playwright browsers
        run: npx playwright install --with-deps
      
      # Run lint, unit tests, build and e2e for all projects
      - name: Run Nx tasks
        run: npx nx run-many -t lint test build e2e
      
      - name: Nx CI diagnostic
        if: always()
        run: npx nx fix-ci